body {
    font-family: Arial, sans-serif;
    background-color: #91a4ab;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.download-btn {
    display: inline-block;
    padding: 10px 0;
    width: 100%; /* Bouton prend la largeur du conteneur */
    background-color: #6e9bcc;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}

#countdown-message {
    text-align: center;
    margin-bottom: 20px;
}

#countdown-timer {
    font-size: 36px; /* Taille de police plus grande */
}
